{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h1 id="title">BOGGLE!</h1>
<div class="container" id="board">
    <div class="btn-group btn-matrix">
{% for row in session['boggle_board'] %}
    {% for char in row %}
        <button type="button" class="btn btn-outline-primary btn-lg" style="--bs-btn-font-size: 3rem;">{{char}}</button>
    {% endfor %}
{% endfor %}
    </div>
</div>
<div class="bottom-container">
    <p id="timer">
        Time: 60
    </p>
    <form method="POST" id="guess-form">
        <input name="guess" type="text" autocomplete="off" placeholder="Make your guess" id="guess">
    </form>
</div>

<p id="score">
    Score: 0
</p>

<p id="response">

</p>

{% endblock %}
{% block script %}
<script src="/static/app.js"></script>
{% endblock %}